body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.logo{
    height: 70px;
}

.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bolder;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px rgb(156, 158, 156);
}
.mainbutton{
    background-color: #1bb76e;
    color: white;
}
.secobutton{
    background-color: #b7731b;
    color: white;
}

.navbar{
    display: flex ;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(223, 235, 233);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.navbar > li{
    display: flex;
    align-items: center;
}

.buscar{
    background-color: white;
    border: 1px solid rgb(126, 126, 126);
    padding: 3px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid blueviolet;
}

.buscar > input{
    outline: none;
    border: 0px;
}

.iconsea:hover{
    color: #1bb76e;
}

.cards{
    display: flex;
    justify-content: center;
}

.card{
    margin: 10px;
}
.contImg{
    width: 240px;
    height: 350px;
    display: flex;
}

.contImg > img{
    object-fit:cover;
    width: 100%;
}