body{
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.logo{
    height: 70px;
}

.button{
    border: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bolder;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px rgb(156, 158, 156);
}
.mainbutton{
    background-color: #1bb76e;
    color: white;
}
.secobutton{
    background-color: #b7731b;
    color: white;
}

.navbar{
    display: flex ;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(253, 249, 237);
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px gray;
}

.navbar > li{
    display: flex;
    align-items: center;
}

.buscar{
    background-color: white;
    border: 1px solid rgb(126, 126, 126);
    padding: 3px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within{
    border: 1px solid rgb(116, 96, 58);
}

.buscar > input{
    outline: none;
    border: 0px;
}

.iconsea:hover{
    color: #7c8380;
}

.titulo{
    display: flex;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
}

.cards{
    display: flex;
    justify-content: center;
}

.card{
    margin: 10px;
    background-color: rgb(104, 91, 91);
    box-shadow: 5px 10px 5px rgb(207, 207, 207);
    border-radius: 10px;
}

.btitle{
    color: rgb(251, 253, 255);
    margin: 10px;
    font-weight: bold;
    font-size: large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contImg{
    width: 240px;
    height: 350px;
    display: flex;
    margin-bottom: 5px;
}

.contImg:hover{
    cursor: grab;
    transform: scale(1.02);
}

.contImg > img{
    object-fit:cover;
    width: 100%;
    border-radius: 10px;
}

.social{
    display: flex;
}

.social > div{
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

